/.direnv
__pycache__
/.venv
\.~lock.*
.DS_Store

/qmk_chords.def
/zmk_chords.dtsi
/zmk_macros.dtsi
/kanata_chords.kbd
/training.txt
/.trae
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
